body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    font-size: 18px;
    background-image: url("images/KWASU-Library.jpg");
    background-size: cover;
    color: rgb(205, 255, 187);   
}

h1, p {
    text-align: center;
    margin: 20px auto;
}

form {
    width: 60vw; /* this shrinks the width of the form to the size specified */
    margin: 0 auto; /* this centers the entire form. */
    padding-bottom: 2rem;
    max-width: 600px;
    min-width: 300px;
}

fieldset {
    border: none;
    border-bottom: 3px solid grey;
}

label {
    display: block;
    margin: 10px 0;
}

input, select, textarea {
    background-color: black;
    color: white;
    border-color: white;
}

#name, #email, #number, #dropdown, #experience {
    width: 100%;
    height: 1.5rem;
    font-size: 16px;
    border-radius: 5px;
}

input[type="submit"] {
    display: block;
    border-color: black;
    width: 50%;
    height: 2rem;
    font-size: 1em;
    cursor: pointer;
    border-color: white;
    margin: 20px auto;
    border-radius: 5px;
}
}

fieldset:last-of-type {
    border: none;
    
